<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Item</h1>
    <form method="post">
    {% csrf_token %}
    <label for="item_name">Item Name:</label><br>
    <input type="text" id="item_name" name="item_name"><br>
    <label for="item_price">Item Price:</label><br>
    <input type="text" id="item_price" name="item_price"><br>
    <label for="item_id">Item id</label><br>
    <input type="text" id="item_id" name="item_id"><br>
    <button type="submit">Save</button>
</form>
</body>
</html>