<!-- edit_invoice.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Invoice</title>
</head>
<body>
    {% if messages %}
    <script>
        alert("{{ messages }}");
    </script>
    {% endif %}
    <h2>Edit Invoice</h2>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Changes">
    </form>
    
</body>
</html>
