<!DOCTYPE html>
<html>
<head>
    <title>Invoice List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    {% if messages %}
        <script>
            alert("{{ messages }}");
        </script>
    {% endif %}
    <h1>Invoice List</h1>
    <button onclick="window.location.href='add-invoice/' ">add invoice</button>
    <br>
    <br>
    <button onclick="window.location.href='/add-customer/' ">add customer</button>
    <br>
    <br>

    <table>
        <thead>
            <tr>
                <th>Invoice ID</th>
                <th>Customer ID</th>
                <th>Invoice Date</th>
                <th>Due Date</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th>Payment ID</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for inv in invoice %}
                <tr>
                    <td><a href="/invoice-items/{{inv.invoice_id}}">{{ inv.invoice_id }}</a></td>
                    <td><a href="/customer-details/{{inv.cust_id }}">{{ inv.cust_id }}</a></td>
                    <td>{{ inv.invoice_date }}</td>
                    <td>{{ inv.due_date }}</td>
                    <td>{{ inv.total_amt }}</td>
                    <td>{{ inv.status }}</td>
                    <td>{{ inv.pay_id }}</td>
                    <!-- <td>
                        <a href="/customer-details/{{inv.cust_id }}">Customer Details
                    </td> -->
                    {% if user.is_superuser %}
                        <td>
                            <a href="/edit-invoice/{{ inv.invoice_id }}/">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a href="/delete-invoice/{{inv.invoice_id}}/">Delete</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="window.location.href='/' ">logout</button>
</body>
</html>
