
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Products</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Invoice Products</h1>
    
    <table >
        <thead>
            <tr>
                <th>Invoice ID</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Product ID</th>
                <th>Edit</th>
                <th>Delete</th>                
            </tr>
        </thead>
        <tbody>
            {% for ro in products %}
                <tr>
                    <!-- <td>{{pro.invoice_id}}</td>
                    <td>{{pro.item_name}}</td>
                    <td>{{pro.item_price}}</td>
                    <td>{{pro.id}}</td> -->
                    <td>{{ro.invoice_id}}</td>
                    <td>{{ro.item_name}}</td>
                    <td>{{ro.item_price}}</td>
                    <td>{{ro.id}}</td>
                    {% if user.is_superuser %}
                        <td>
                            <a href="/edit-item/{{ro.id}}/">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a href="/delete-item/{{ro.id}}/">Delete</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
    {% if products %} 
    <a href="/add-item/{{products.first.invoice_id}}/" class="btn">Add Item</a>
    {% endif %}
</body>
</html>
